<form action="/favourite" method="post">
  <button
    type="submit"
    class="bg-yellow-500 text-white p-2 hover:bg-yellow-600 rounded-lg"
  >
    Add To Favourite
  </button>
  <input type="hidden" name="id" value="<%=book.id%>" />
</form>
