<form action="/booked" method="post" class="inline">
  <input type="hidden" name="id" value="<%= book._id %>" />
  <button
    type="submit"
    class="bg-pink-500 text-white px-4 py-2 rounded-lg hover:bg-pink-700 transition duration-300"
  >
    Buy
  </button>
</form>
